.gallery{

	overflow:hidden;
	position: relative;
	display:block;
	margin: 0 auto;

	.content{
		position: absolute;
	}

	.item {
		float:left;
	}

	.description{
		color: #fff;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.8);
		text-align: center;
		padding: 20px;
		bottom:0;
		position:absolute;
	}
}

.controls{
	display: block;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
	#prev{
		position: absolute;
		left: -120px;
	}
	#next{
		position: absolute;
		right: -120px;
	}
}